---
---

@import index, font, basic, layout, classes

// ===========================================
// RESPONSIVE CONTAINER WIDTHS
// ===========================================

@media (min-width: 768px)
  body > header, body > article, body > footer
    padding-left: calc(50% - 440px)
    padding-right: calc(50% - 440px)

@media (min-width: 1200px)
  body > header, body > article, body > footer
    padding-left: calc(50% - 520px)
    padding-right: calc(50% - 520px)

body > footer
  opacity: 1
